@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Unijaveriana Form, it is a pleasure to serve you</h1>
    <p>Visit us on <a href="https://www.javeriana.edu.co/home">Javeriana</a>.</p>
</div>
